.container.text-center
 %ul.nav.justify-content-center.mb-3
  %li.nav-item
  %a.nav-link{:href => "#"} Top
  %li.nav-item
  %a.nav-link{:href => "#recommended"} おすすめサイト
  %li.nav-item
  %a.nav-link{:href => "#"} お気に入り登録
  %li.nav-item
  %a.nav-link{:href => "#"} ログアウト
  %li.nav-item
 %p
  %samll Copyright ©2019 Favorites, All Rights Reserved.