%body
  =render 'favorites/header'

  .py-0
    %section#conpletion_registration
      .container
        .row
          .form.text-center
            %h3.mb-h3 登録が完了しました
            .from-button
              %a.btn.btn-warning{:href => "/"} topに戻る

%footer.py-4.bg-warning.text-light.fixed-bottom
  =render 'favorites/footer'