%body
  -# ヘッダー
  %nav.navbar.navbar-expand-md.navbar-dark.bg-warning.sticky-top
    .container
      %a.navbar-brand{:href => "#"} Favorites
      %button.navbar-toggler{"aria-controls" => "navbar-content", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar-content", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbar-content.collapse.navbar-collapse.justify-content-end
        %ul.navbar-nav
          %li.nav-item.active
            %a.nav-link{:href => "/new"}
              お気に入り登録
              %span.sr-only (current)
          %li.nav-item
            %a.nav-link{:href => "#menu"} ログアウト
  
  .py-0
    %section#conpletion_registration
      .container
        .row
          .form.text-center
            %h3.mb-h3 登録が完了しました
            .from-button
              %a.btn.btn-warning{:href => "/", :type => "button"} topに戻る


  -# フッター
%footer.py-4.bg-warning.text-light.fixed-bottom
  .container.text-center
    %ul.nav.justify-content-center.mb-3
      %li.nav-item
        %a.nav-link{:href => "/"} Top
      %li.nav-item
        %a.nav-link{:href => "#recommended"} おすすめサイト
      %li.nav-item
        %a.nav-link{:href => "/new"} お気に入り登録
      %li.nav-item
        %a.nav-link{:href => "#"} ログアウト
      %li.nav-item
    %p
      %samll Copyright ©2019 Favorites, All Rights Reserved.