.image-area{
  width:100px;
  height:100px;
  margin:auto;
  display: -webkit-box;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card-img-thumbnail{
  width: 100%;
}

.card{
  margin-bottom: 20px;
}

.row{
  margin:20px 0
}
