.image-area{
  width:130px;
  height:130px;
  margin:auto;
  display: -webkit-box;
  justify-content: center;
  align-items: center;
}

.card-img-thumbnail{
  width: 100%;
}

.card{
  margin-bottom: 20px;
}

.row{
  margin:20px 0;
  padding-bottom:120px;
}

.modal-body{
  margin:auto;
  width: 50%;
}
.fixed-bottom {
  height:120px;
}


