.form{
  width:75%;
  margin:auto
}
.from-button{
  margin-top:20px;
  margin-bottom:20px;
}
.error-area{
  margin-top:20px;
}
.form-select{
  position: relative;
  font-size: 16px;
  height: 46px;
  padding: 10px;
  margin-top: 10px;
  display: block;
  width: 100%;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}